@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=Outfit:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

.header_image {
    background-image: url(images/Rectangle.jpg);
    width: 1500px;
    height: 1700px;
    background-position: center;
    background-size: cover;
    position: relative;
}

header {
    font-family: "Big Shoulders Display";
    font-size: 60px;
    position: relative;
}

header h1 {
    font-weight: 800;
    font-size: 150px;
    width: 700px;
}

header p {
    font-family: "Outfit";
    font-size: 30px;
    font-weight: 400;
    width: 600px;
}

.header_left{
    position: relative;
    right: 70px;
    top: 200px;
}

.header_flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    background-color: #000;
    color: #fff;
    padding: 40px 140px;
    cursor: pointer;
    font-size: 50px;
    font-family: "Big Shoulders Display";
}

main {
    margin: 40px;
}

.image_1 {
    width: 1000px;
    height: 1000px;
    margin-bottom: 10px;
    float: right;
    margin-top: 200px;
}

article {
    font-family: "Big Shoulders Display";
    font-size: 90px;
}

article h1 {
    font-weight: 800;
    margin: 40px;
    line-height: 120px;
    float: left;
    width: 500px;
    margin-top: 300px;
}

article p {
    font-family: "Outfit";
    font-size: 35px;
    width: 650px;
    margin: 40px;
    font-weight: 300;
    margin-top: 5px;
    float: left;
}

.image_2 {
    width: 1200px;
    height: 1700px;
}

.image_3 {
    width: 80px;
    height: 90px;
    float: right;
}

.ending {
    background-color: black;
    color: white;
    height: 400px;
    width: 500px;
    float: right;
}

footer {
    background-color: black;
    color: white;
    padding-top: 100px;
    padding-left: 80px;
  
}

.footer_flex {
    display: flex;
}

footer h5 {
    font-family: "Big Shoulders Display";
    font-weight: 900;
    font-size: 80px;
}

footer p {
    font-family: "Outfit";
    font-size: 40px;
    margin-left: 200px;
}

.icons {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-right: 300px;
    margin-top: 100px;
}

.icon_1 {
    height: auto;
    margin-left: 10px;
    width: 45px;
    margin-top: 70px;
}

.icon_2 {
    height: auto;
    margin-left: 40px;
    width: 45px;
    margin-top: 100px;
}

.icon_3 {
    height: auto;
    margin-left: 40px;
    width: 60px;
    margin-top: 100px;
}